<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="gestor-clientes">
    <template>
          <style>
          :host {
          display: block;
          padding:10px
          }
          </style>

          <div class="container">
            <div class="row">
              <h1 class="col-lg-12 col-xs-12">Gestor de Clientes</h1>

              <button class="btn btn-success col-lg-12 col-xs-12" type="button" name="button" on-click="obtenerClientes">Obtener Clientes</button>
          </div>
          <div class="row">
            <table class="table table-striped col-lg-12 col-xs-12 table-bordered table-sm">
              <thead class="thead-dark">
              <th scope="row"> IDCliente</th>
              <th scope="row">Nombre</th>
              <th scope="row">Apellido</th>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{cliente}}">
                  <tr class="table-info">
                    <td>[[item.idcliente]]</td>
                    <td>[[item.nombre]]</td>
                    <td>[[item.apellido]]</td>
                  </tr>

                </template>
              </tbody>
            </table>
          </div>
          </template>
      <script>
      /**
      * @customElement
      * @polymer
      */
      class GestorClientes extends Polymer.Element {
        static get is() { return 'gestor-clientes';
      }
        static get properties() {
          return {
      clientes: {
        type: Array,
        notify: true
      }
      };
      }

      obtenerClientes () {
        var request = new XMLHttpRequest;
        request.open("GET","http://localhost:3002/movimientos/", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cliente = JSON.parse(request.responseText);
        console.log(this.cliente);
      }
      }

      window.customElements.define(GestorClientes.is, GestorClientes);
      </script>
    </dom-module>
